@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #03045e;
    width: 100vw;
    height: 100vh;

  }
  
  .topsection {
    background-color: #03045e; 
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 60%;
    flex-direction: column;
    
  }

  .logo{
    width: 65%;
    max-width: 350px;
  }

  .bottomsection {
    background-color: #e1ebff; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40%;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
  }

  .text{
    font-size: x-large;
    color: #03045e;
    margin: 0.5%;
    padding-left: 12%;
    padding-right: 12%; 
    font-family: "Montserrat";
    overflow-wrap: break-word;
    text-align: center;
  }

  .link{
    
    font-size: xx-large;
    font-weight: 500;
    color: #03045e;
    margin: 0.5%;
    font-family: "Montserrat";
    text-decoration: underline;
  }


  .errorbig{
    color: red;
    font-family: "Montserrat";
    margin: 0;
    font-weight: 600;
    font-size: 4em;
    padding-left: 12%;
    padding-right: 12%; 
  }

  .errorsmall{
    padding-bottom: 3%;
    color: red;
    font-family: "Montserrat";
    font-size: large;
    font-weight: 500;
    margin: 0;
    padding-left: 12%;
    padding-right: 12%; 
    text-align: center;
  }