@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");


* {
  padding: 0;
  margin: 0%;
  color: white;
}

:root {
  font-family: "Montserrat", sans-serif;
  color-scheme: light dark;
  background-color: #03045e;
}

/* Button Section */

/* QR Code Button */

.generate-qr-code-button {
  margin: 0% 0% 0% 77%;
  min-width: fit-content;
  width: 13%;
  height: auto;
  border-radius: 15px;
  border: 1px solid transparent;
  padding: 1% 4%;
  font-size: 1em;
  background-color: #e1ebff;
  transition: 0.4s;
}
.generate-qr-code-button:hover {
  background-color: #d1e0ff;
}

.button-header {
  color: #03045e;
  font-weight: bold;
}

.create-new-button {
  margin-top: 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3em 1.2em;
  font-size: 1em;
  font-weight: 0;
  font-family: inherit;
  background-color: #03045e;
  cursor: pointer;
  transition: border-color 0.5s;
}

.create-new-button:hover {
  background-color: #0a0b76;
}

.create-new {
  font-size: 1em;
}

.external-link {
  margin-left: 2vh;
  margin-bottom: 0.5vh;
  width: 19%;
}

/* Header */
.dashboard-header {
  margin-top: 0.1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-title {
  margin-left: 5%;
  margin-bottom: 1%;
  font-size: 3.5em;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.logo {
  margin-right: 2%;
  width: 10%;
}
