.button {
  padding: 10px 30px;
  font-size: 1.4em;
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
  background-color: #03045e;
  color: #fff;
  border-radius: 6px;
  align-items: center;
  position: relative;
  display: flex;
  }

  .icon {
    margin-right: 18px;
    height: 35px;
    background-color: #fff;    
    border-radius: 50%;
    border-width: 6px;
    border-color: #fff;
  }

